/*Use these marks for comments*/
html {
	font-family: 'Nova Cut', cursive;
	font-size: 16px;
}
h1 {
	color: green;
	width: 300px;
	border: 2px solid black;
}
a {
	color: blue;
}
ol {
	color: red;
}
ul {
	color: orange;
}